body {
    background: url("../images/background.jpg");
    background-size: 100%;
    background-repeat: repeat;
}

h2 {
    text-align: center;
}

.GalleryContainer {
    display: flex;
    flex-wrap: wrap;
}

.imageRecordNoFood {
    flex: none;
    max-width: 300px;
    margin-right: 20px;
    margin-bottom: 40px;
    background-color: #ffcccc;
    border: 2px solid #ccc;
    margin: auto;
}

.imageRecordFood {
    flex: none;
    max-width: 300px;
    margin-right: 20px;
    margin-bottom: 40px;
    background-color: #ccffcc;
    border: 2px solid #ccc;
    margin: auto;
}

.imageThumbnail {
    width: 100%;
}

.container {
    width: 100%;
    height: auto;

    /* Flex rules */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    align-content: space-between;

}

.column {
    float: left;
    width: 33.33%;
    padding-bottom: 50px;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: center;
    width: 250px;


}

div.gallery:hover {
    border: 1px solid #777;

}

div.gallery img {
    width: 100%;
    height: auto;

}


div.desc {
    padding: 15px;
    text-align: center;

}

/* .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
} */

/* @media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
} */

/* .clearfix:after {
    content: "";
    display: table;
    clear: both;
} */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
