body,
html {
    height: 96%;
}

.bg,
.bg input[value] {
    color: #000;
    text-shadow: #fff 0px 0px 1px, #fff 0px 0px 1px, #fff 0px 0px 1px,
    #fff 0px 0px 1px, #fff 0px 0px 1px, #fff 0px 0px 1px;
}

.bg {
    background-image: url("../images/corndogman.jpg");

    /* Full height */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    /*    background-size: cover;*/
    background-size: contain;
}

h3 {
    /*    padding-top: 200px;*/
    text-align: center;
}

form {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
}


/*pasted by xavier*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

/**/

p {
    text-align: center;
}

header {
    clear: both;
}

header ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 10px;
}

nav {
    border: blue solid 2px;
    background-color: beige;
}

nav ul {
    text-align: center;
    margin: auto;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 0px 150px;
    margin: auto;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    color: red;
}
