body {
    margin: auto;
    background: url("../images/background.jpg");
}

img {
    margin: auto;
    display: block;
    margin-top: 5px;
}

h3 {
    padding-top: 50px;
    text-align: center;
}

p {
    text-align: center;
}

/*pasted by xavier*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

/**/
