<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/gallery.css">
        <title>Gallery</title>
    </head>
    <body>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a class="active" href="/gallery">Gallery</a></li>
        </ul>
        <h2>Food Gallery</h2>
		<div class="GalleryContainer">
        {% for row in rows %}
			{% if row['image_status'] == 'No Food' %}
			
				<div class="imageRecordNoFood">
					<a target="_blank" href="/show/{{ row['image_path'].split('/')[-1]  }}">
						<img class="imageThumbnail" src="{{ row['image_path'] }}">
					</a>
					<!-- comment<figcaption>{{ row['image_status'] }}, Confidence: {{row['confidence']}}</figcaption> -->
					<div class="desc"><b>{{ row['image_status'] }} <br>Confidence: {{row['confidence']}}</b></div>
				</div>
			{% endif %}
				
			{% if row['image_status'] != 'No Food' %}
			
				<div class="imageRecordFood">
					<a target="_blank" href="/show/{{ row['image_path'].split('/')[-1]  }}">
						<img class="imageThumbnail" src="{{ row['image_path'] }}">
					</a>
					<!-- comment<figcaption>{{ row['image_status'] }}, Confidence: {{row['confidence']}}</figcaption> -->
					<div class="desc"><b>{{ row['image_status'] }} <br>Confidence: {{row['confidence']}}</b></div>
				</div>
			{% endif %}
			
			
        {% endfor %}
		</div>
    </body>
</html>