<!DOCTYPE html>
<html>
<head>
    <title>Modified Image</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/modified.css">
    <!--Could but the status of the image in the title -->
</head>

<body>
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/gallery">Gallery</a></li>
    </ul>
    {% for item in data %}
        <img src="{{item['image_path']}}" style=width:500px;height:500px;>


        {% if item['food_boolean'] %}
            <p style="color:green;font-size:36px;">Image Status: {{ item['status'] }}</p>
        {% else %}
            <p style="color:red;font-size:36px;">Image Status: {{ item['status'] }}</p>
        {% endif %}

        <p>Image Score: {{ item['confidence'] }}</p>

    {% endfor %}



</body>



</html>